<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "mybatis-3-sql-mapper.dtd">

<mapper namespace="com.schhome.finance.config.FinanceConfigMapper">

    <resultMap id="FinanceConfigResultMap" type="com.schhome.finance.config.FinanceConfigVO">
        <id     property="codeSeq"    column="CODE_SEQ" />
        <result property="codeId"     column="CODE_ID" />
        <result property="codeNm"     column="CODE_NM" />
        <result property="codeValue"  column="CODE_VALUE" />
        <result property="codeDesc"   column="CODE_DESC" />
        <result property="accessRight" column="ACCESS_RIGHT" />
        <result property="useFlag"    column="USE_FLAG" />
        <result property="defaultYn"  column="DEFAULT_YN" />
        <result property="parentId"   column="PARENT_ID" />
        <result property="sortOrder"  column="SORT_ORDER" />
        <result property="modifyUser" column="MODIFY_USER" />
        <result property="modifyDate" column="MODIFY_DATE" />
        <result property="createUser" column="CREATE_USER" />
        <result property="createDate" column="CREATE_DATE" />
    </resultMap>

    <select id="selectFinanceConfigList"
            parameterType="com.schhome.finance.config.FinanceConfigVO"
            resultMap="FinanceConfigResultMap">

        SELECT
            CODE_SEQ,
            CODE_ID,
            CODE_NM,
            CODE_VALUE,
            CODE_DESC,
            ACCESS_RIGHT,
            USE_FLAG,
            DEFAULT_YN,
            PARENT_ID,
            SORT_ORDER,
            MODIFY_USER,
            MODIFY_DATE,
            CREATE_USER,
            CREATE_DATE
        FROM TB_M_FINANCE_CONFIG
        WHERE 1 = 1
          AND USE_FLAG = 'Y'
        <if test="codeId != null and codeId != ''">
            AND CODE_ID = #{codeId}
        </if>
        <if test="parentId != null">
            AND PARENT_ID = #{parentId}
        </if>
        ORDER BY SORT_ORDER, CODE_ID

    </select>

</mapper>
